:root {
  --circle-size-s: 120px;
  --circle-size-m: 160px;
  --circle-size-l: 240px;
  --child-padding: 60px;
  --circle-border: 1rem;
  --icon-rock: url("..\..\assets\icon-rock.svg");
  --icon-scissors: url("..\..\assets\icon-scissors.svg");
  --icon-paper: url("..\..\assets\icon-paper.svg");
  --color-rock: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --color-scissors: linear-gradient(hsl(40, 84%, 53%), hsl(40, 84%, 53%));
  --color-paper: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}
.circle-parent {
  width: var(--circle-size-m);
  height: var(--circle-size-m);
  position: relative;
  border-radius: 50%;
  border: 0px;
  box-shadow: 0px -5px rgba(0, 0, 0, 0.4) inset;
}

.circle-child {
  border-radius: 50%;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% auto;
  box-shadow: 0 5px rgba(0, 0, 0, 0.4) inset;
  position: absolute;
  padding: calc(var(--circle-size-m) * 0.37);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.paper {
  background-image: var(--icon-paper);
}

.paper-color {
  background: var(--color-paper);
}
.rock {
  background-image: var(--icon-rock);
}

.rock-color {
  background: var(--color-rock);
}
.scissors {
  background-image: var(--icon-scissors);
}

.scissors-color {
  background: var(--color-scissors);
}

.circle-parent.s {
  width: var(--circle-size-s);
  height: var(--circle-size-s);
}
.circle-parent.m {
  width: var(--circle-size-m);
  height: var(--circle-size-m);
}
.circle-parent.l {
  width: var(--circle-size-l);
  height: var(--circle-size-l);
}
.circle-child.s {
  padding: calc(var(--circle-size-s) * 0.37);
}
.circle-child.m {
  padding: calc(var(--circle-size-m) * 0.37);
}
.circle-child.l {
  padding: calc(var(--circle-size-l) * 0.37);
}
