:root {
  --circle-size: 160px;
  --circle-border: 1rem;
  --circle-color: white;
  --icon-rock: url("..\..\assets\icon-rock.svg");
  --icon-scissors: url("..\..\assets\icon-scissors.svg");
  --icon-paper: url("..\..\assets\icon-paper.svg");
  --color-rock: linear-gradient(hsl(349, 71%, 52%), hsl(349, 70%, 56%));
  --color-scissors: linear-gradient(hsl(40, 84%, 53%), hsl(40, 84%, 53%));
  --color-paper: linear-gradient(hsl(230, 89%, 62%), hsl(230, 89%, 65%));
}

button:active {
  background: #e5e5e5;
  -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
  -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
  box-shadow: inset 0px 0px 5px #c1c1c1;
  outline: none;
}
.choices-initial {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  max-width: 100%;
  background-image: url("..\..\assets\bg-triangle.svg");
  background-repeat: no-repeat;
  background-position: center center;
}
.choices-initial div:first-child {
  display: flex;
  justify-content: space-between;
  gap: 60px;
}
.circle-parent {
  width: var(--circle-size);
  height: var(--circle-size);
  position: relative;
  border-radius: 50%;
  border: 0px;
  background: linear-gradient(hsl(40, 84%, 53%), hsl(40, 84%, 53%));
  box-shadow: 0px -5px rgba(0, 0, 0, 0.4) inset;
}

.circle-child {
  border-radius: 50%;
  background-color: white;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% auto;
  box-shadow: 0 5px rgba(0, 0, 0, 0.4) inset;
  position: absolute;
  padding: 60px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.paper {
  background-image: var(--icon-paper);
}

.paper-color {
  background: var(--color-paper);
}
.rock {
  background-image: var(--icon-rock);
}

.rock-color {
  background: var(--color-rock);
}
.scissors {
  background-image: var(--icon-scissors);
}

.scissors-color {
  background: var(--color-scissors);
}
