#logo {
  margin: 20px 0px 20px 20px;
}
.scoreContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: 10px;
  width: 50vw;
  margin-bottom: 50px;
}

.scoreLabel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  width: 120px;
  margin: 15px 20px 15px 0px;
  padding: 15px 10px 0px 10px;
}

.scoreLabel > :first-child {
  color: hsl(229, 64%, 46%);
}
.count {
  font-size: 4rem;
  color: hsl(229, 25%, 31%);
  font-weight: 700;
  margin-top: -20px;
}
