.label {
  border-radius: 5px;
  background-color: white;
  width: clamp(17%, 20vw, 170px);
  padding: 1rem 0rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.label > :first-child {
  color: hsl(229, 64%, 46%);
  font-size: clamp(0.7rem, 2vw, 1rem);
}
#logoContainer {
  max-width: 30%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  border: 3px solid hsl(217, 16%, 45%);
  border-radius: clamp(0.5rem, 2vw, 1rem);
  width: clamp(5rem, 70vw, 50rem);
  margin-bottom: 50px;
  padding: clamp(0.8rem, 4vw, 1.2rem);
}

.count {
  font-size: clamp(2.5rem, 6vw, 4rem);
  color: hsl(229, 25%, 31%);
  font-weight: 700;
  line-height: clamp(2.5rem, 6vw, 4rem);
}
