@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600&display=swap");

body {
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 0px;
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}
button > p {
  margin: 0px;
}
.container {
  width: 35em;
  display: flex;
  gap: 60px;
  flex-direction: column;
  align-items: center;
}

#root {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
}

.transparent {
  background-color: transparent;
  border: 2px solid white;
  text-align: center;
  color: white;
  align-self: flex-end;
}
.font-extra-spacing {
  letter-spacing: 0.1rem;
}
