@import url("https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed:wght@600;700&display=swap");
body {
  background: radial-gradient(hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  font-family: "Barlow Semi Condensed", sans-serif;
  font-weight: 600;
  font-size: 0.9rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  height: 90vh;
  margin: 0;
  padding: 5vh;
}
button > p {
  margin: 0px;
}
.loader {
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  --b: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  padding: 1px;
  background: conic-gradient(#0000 10%, white) content-box;
  mask: repeating-conic-gradient(#0000 0deg, #000 1deg 20deg, #0000 21deg 36deg),
    radial-gradient(
      farthest-side,
      #0000 calc(100% - var(--b) - 1px),
      #000 calc(100% - var(--b))
    );
  -webkit-mask-composite: destination-in;
  mask-composite: intersect;
  animation: l4 1s infinite steps(10);
}
@keyframes l4 {
  to {
    transform: rotate(1turn);
  }
}

#root {
  width: 100%;
  height: 100%;
}

.transparent {
  background-color: transparent;
  border: 2px solid white;
  text-align: center;
  color: white;
  align-self: flex-end;
  padding-left: 30px;
  padding-right: 30px;
}
.font-extra-spacing {
  letter-spacing: 0.1rem;
}
